@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Darleston";
  src: url("/fonts/Darleston.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Woodland";
  src: url("/fonts/woodland/PPWoodland-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Woodland";
  src: url("/fonts/woodland/PPWoodland-Ultralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: "Snell";
  src: url("/fonts/snell/SnellBT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Snell";
  src: url("/fonts/snell/SnellBT-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Snell";
  src: url("/fonts/snell/SnellRoundhand-BlackScript.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Snell";
  src: url("/fonts/snell/SnellRoundhand-BoldScript.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}





